/* global attribute of a dark blue background */
* {
  background-color: #212f3f;
  /* give global font family */
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0%;
    margin: 0;
}
html {
  scroll-behavior: smooth;
}

/* style headder as a horizontal box */
header {
padding: 20px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: white;
}

header h1 {
  display: inline-block;
  font-size: 24px;
  color: white;

}


header nav {
  padding: 0%;
  margin: auto;
  float: right;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

header nav a {
  list-style: none;
  display: inline-block;
  text-decoration: none;
  color: white;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

#img {
  height: 500px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}


/* style the main section */
/* .sub-title{
  font-size: 60px;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  margin-bottom: 25px;
  
} */
/* overall styling for main section */
#main {
  padding: 20px;
  margin-top: 10%;
  color: white;
  margin-bottom: 105px;
}
/* styling of card container */
.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  grid-gap: 20px;
  margin-top: 50px;

}

.project-list .card {
  background-color: #14202e;
  padding: 40px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
/* transition element */
  /* transition: transform 0.2s; */
}

/* style the h3 */
.project-list h3 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
  background-color: #14202e;
}
/* style the paragraphs */
.project-list p {
  font-size: 15px;
  font-weight: lighter;
  color: white;
  text-align: center;
  margin-bottom: 5px;
  background-color: #14202e;
}
/* style the img */
.project-list img {
  width: 100%;
  background-color: #14202e;
  margin-bottom: 20px;
}


  /* width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  grid-gap: 20px;
  margin-top: 50px;
}

.card {
  background-color: #4d9ca0;
  padding: 40px;
  font-size: 15px;
  font-weight: bold;
  color: white;

  }

  #projects h3 {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 25px;
    background-color: #4d9ca0;
  }
 */

  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
} */


/* .card {
 min-width: 25%;
 height: 200px;
 margin: 10px;
 flex: 1 0 0;
 display: inline-block;
 text-align: center;
 padding: 10px;
 border-radius: 25px;
 background-color: #4d9ca0;
} */


/* multiple media accessability */
@media screen and (max-width: 992px) {
  .card {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}


footer {
  background-color: #bcbec0;
  padding: 10px;
  text-align: center;
  color: white;
  display: inline-block;
  width: 100%;
  
}