/* global attribute of a dark blue background */
:root {
    --secondary-color: #161f2a;
    --primary-color: #212f3f;
    --hover-color: #b3cbe7;
}

* {
  /* give global font family */
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0%;
    margin: 0;
}
html {
  scroll-behavior: smooth;
}

header h2{
  position: absolute;
  margin-top: 15%;
  font-size: 30px;
}
header h2 span{
  color: var(--hover-color);
  font-weight: bolder;
}



body {
  background-color: var(--primary-color);
  color: white;
}
/* style headder as a horizontal box */
header {
padding: 20px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: white;
}

header h1 {
  display: inline-block;
  font-size: 24px;
  color: white;

}


header nav {
  padding: 0%;
  margin: auto;
  float: right;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

header nav a {
  list-style: none;
  display: inline-block;
  text-decoration: none;
  color: white;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

#img {
  height: 500px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}


/*------------------------------ style the projects section --------------------------------*/
/* overall styling for main section */
#projects {
  padding: 50px;
  margin-top: 10%;
  color: white;
  margin-bottom: 105px;
  /* force grid card to next line if it cant fit */
  display: flex;
  flex-wrap: wrap;
  /* justify content to center grid */
  justify-content: center;
}
#projects h1{
  text-align: left;
  font-size: 40px;
  font-weight: bold;
  color: white;
}
/* styling of card container */
.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  padding: 100px;
  /* force grid card to next line if it cant fit */
  /* display: flex;
  flex-wrap: wrap; */
}


/* .card1 {
  background-color: var(--secondary-color); */
/* make card1 take up two columns */
  /* grid-column: span 2;
  padding: 40px;  
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  flex: 1 0 0;
  grid-column: 1 / 3;
  grid-row: 1;
  max-width: 100%; */
/* transition element */
  /* transition: transform 0.5s;
  
} */

.project-list .card {
  background-color: var(--secondary-color);
  display: flex;
  flex-wrap: wrap;
  /* give card minimum width */
  grid-column: span 1;
  padding: 40px;  
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  flex: 1 0 0;
/* transition element */
  transition: transform 0.5s;
  
}

/* style the h3 */
.project-list h3 {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
}
/* style the paragraphs */
.project-list p {
  font-size: 15px;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 5px;


}
/* style the img */
.project-list img {
  width: 100%;
  margin-bottom: 20px;
  min-height: 55%;
}

.project-list a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
  display: block;
  margin-top: 10px;
}

/* style the change for cards when hovering */
.container .card:hover {
  background: var(--hover-color);
  transform: scale(1.05);
}
/* .container .card1:hover {
  background: var(--hover-color);
  transform: scale(1.05);
} */



footer {
  background-color: #bcbec0;
  padding: 10px;
  text-align: center;
  color: white;
  display: inline-block;
  width: 100%;
  
}

/* multiple media accessability */
@media screen and (max-width: 992px) {
  .card {
    width: 100%;
  }
.project-list .card {
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
}
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
  }
}


